
  body {
    font-family: cursive;
    padding: 10px;
  }
  /* Light mode */
body.light-mode {
    background-color: #fff;
    color: #000;
  }
  
  /* Dark mode */
  body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .container {
    margin: auto;
    width: 60%;
    height: 95vh;
    padding: 20px;
    border-radius: 2px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }
  .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #dark-mode-toggle{
    border: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    border: 2px solid black;
    padding: 5px 20px;
  }
  h1 {
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    outline: none;
    background: transparent;
  }
  
  button[type="submit"] {
    padding: 10px 30px;
    background-color: #209d30;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }
  
  li span {
    flex: 1;
  }
  
  li button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  li button:hover {
    background-color: #c82333;
  }
  
  #clear-btn {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  #clear-btn:hover {
    background-color: #c82333;
  }
  


  .title-word {
    animation: color-animation 5s linear infinite;
  }
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #308389;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }


